/*! Giscus Theme: Catppuccin Latte (Light) */

main {
  --color-prettylights-syntax-comment: #9ca0b0;
  --color-prettylights-syntax-constant: #fe640b;
  --color-prettylights-syntax-entity: #1e66f5;
  --color-prettylights-syntax-storage-modifier-import: #4c4f69;
  --color-prettylights-syntax-entity-tag: #40a02b;
  --color-prettylights-syntax-keyword: #8839ef;
  --color-prettylights-syntax-string: #40a02b;
  --color-prettylights-syntax-variable: #df8e1d;
  --color-prettylights-syntax-brackethighlighter-unmatched: #d20f39;
  --color-prettylights-syntax-invalid-illegal-text: #4c4f69;
  --color-prettylights-syntax-invalid-illegal-bg: #d20f39;
  --color-prettylights-syntax-carriage-return-text: #4c4f69;
  --color-prettylights-syntax-carriage-return-bg: #d20f39;
  --color-prettylights-syntax-string-regexp: #40a02b;
  --color-prettylights-syntax-markup-list: #df8e1d;
  --color-prettylights-syntax-markup-heading: #1e66f5;
  --color-prettylights-syntax-markup-italic: #4c4f69;
  --color-prettylights-syntax-markup-bold: #4c4f69;
  --color-prettylights-syntax-markup-deleted-text: #d20f39;
  --color-prettylights-syntax-markup-deleted-bg: #fce4e6;
  --color-prettylights-syntax-markup-inserted-text: #40a02b;
  --color-prettylights-syntax-markup-inserted-bg: #e6f2e6;
  --color-prettylights-syntax-markup-changed-text: #fe640b;
  --color-prettylights-syntax-markup-changed-bg: #fef0e6;
  --color-prettylights-syntax-markup-ignored-text: #4c4f69;
  --color-prettylights-syntax-markup-ignored-bg: #1e66f5;
  --color-prettylights-syntax-meta-diff-range: #8839ef;
  --color-prettylights-syntax-brackethighlighter-angle: #9ca0b0;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #bcc0cc;
  --color-prettylights-syntax-constant-other-reference-link: #1e66f5;
  --color-btn-text: #5c5f77;
  --color-btn-bg: #dce0e8;
  --color-btn-border: rgba(76, 79, 105, 0.1);
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #ccd0da;
  --color-btn-hover-border: #9ca0b0;
  --color-btn-active-bg: #ccd0da;
  --color-btn-active-border: #9ca0b0;
  --color-btn-selected-bg: #eff1f5;
  --color-btn-primary-text: #eff1f5;
  --color-btn-primary-bg: #8839ef;
  --color-btn-primary-border: rgba(76, 79, 105, 0.1);
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #7287fd;
  --color-btn-primary-hover-border: rgba(76, 79, 105, 0.1);
  --color-btn-primary-selected-bg: #8839ef;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(76, 79, 105, 0.5);
  --color-btn-primary-disabled-bg: rgba(136, 57, 239, 0.6);
  --color-btn-primary-disabled-border: rgba(76, 79, 105, 0.1);
  --color-action-list-item-default-hover-bg: rgba(108, 111, 133, 0.12);
  --color-segmented-control-bg: rgba(188, 192, 204, 0.1);
  --color-segmented-control-button-bg: #eff1f5;
  --color-segmented-control-button-selected-border: #9ca0b0;
  --color-fg-default: #4c4f69;
  --color-fg-muted: #6c6f85;
  --color-fg-subtle: #7c7f93;
  --color-canvas-default: #eff1f5;
  --color-canvas-overlay: #eff1f5;
  --color-canvas-inset: #eff1f5;
  --color-canvas-subtle: #e6e9ef;
  --color-border-default: #ccd0da;
  --color-border-muted: #dce0e8;
  --color-neutral-muted: rgba(108, 111, 133, 0.4);
  --color-accent-fg: #8839ef;
  --color-accent-emphasis: #7287fd;
  --color-accent-muted: rgba(136, 57, 239, 0.4);
  --color-accent-subtle: rgba(136, 57, 239, 0.1);
  --color-success-fg: #40a02b;
  --color-attention-fg: #df8e1d;
  --color-attention-muted: rgba(223, 142, 29, 0.4);
  --color-attention-subtle: rgba(223, 142, 29, 0.15);
  --color-danger-fg: #d20f39;
  --color-danger-muted: rgba(210, 15, 57, 0.4);
  --color-danger-subtle: rgba(210, 15, 57, 0.1);
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: #ccd0da;
  --color-scale-blue-8: #c8dce5;
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}
