/*! Giscus Theme: Gruvbox High Contrast Dark */

main {
  --color-prettylights-syntax-comment: #928374;
  --color-prettylights-syntax-constant: #d3869b;
  --color-prettylights-syntax-entity: #8ec07c;
  --color-prettylights-syntax-storage-modifier-import: #fbf1c7;
  --color-prettylights-syntax-entity-tag: #b8bb26;
  --color-prettylights-syntax-keyword: #fb4934;
  --color-prettylights-syntax-string: #b8bb26;
  --color-prettylights-syntax-variable: #fe8019;
  --color-prettylights-syntax-brackethighlighter-unmatched: #fb4934;
  --color-prettylights-syntax-invalid-illegal-text: #fbf1c7;
  --color-prettylights-syntax-invalid-illegal-bg: #9d0006;
  --color-prettylights-syntax-carriage-return-text: #fbf1c7;
  --color-prettylights-syntax-carriage-return-bg: #cc241d;
  --color-prettylights-syntax-string-regexp: #b8bb26;
  --color-prettylights-syntax-markup-list: #fabd2f;
  --color-prettylights-syntax-markup-heading: #83a598;
  --color-prettylights-syntax-markup-italic: #fbf1c7;
  --color-prettylights-syntax-markup-bold: #fbf1c7;
  --color-prettylights-syntax-markup-deleted-text: #fb4934;
  --color-prettylights-syntax-markup-deleted-bg: #462726;
  --color-prettylights-syntax-markup-inserted-text: #b8bb26;
  --color-prettylights-syntax-markup-inserted-bg: #3d4220;
  --color-prettylights-syntax-markup-changed-text: #fe8019;
  --color-prettylights-syntax-markup-changed-bg: #4a3223;
  --color-prettylights-syntax-markup-ignored-text: #fbf1c7;
  --color-prettylights-syntax-markup-ignored-bg: #076678;
  --color-prettylights-syntax-meta-diff-range: #d3869b;
  --color-prettylights-syntax-brackethighlighter-angle: #928374;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #665c54;
  --color-prettylights-syntax-constant-other-reference-link: #83a598;
  --color-btn-text: #ebdbb2;
  --color-btn-bg: #3c3836;
  --color-btn-border: rgba(251, 241, 199, 0.1);
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #504945;
  --color-btn-hover-border: #665c54;
  --color-btn-active-bg: #504945;
  --color-btn-active-border: #665c54;
  --color-btn-selected-bg: #1d2021;
  --color-btn-primary-text: #1d2021;
  --color-btn-primary-bg: #fe8019;
  --color-btn-primary-border: rgba(251, 241, 199, 0.1);
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #d65d0e;
  --color-btn-primary-hover-border: rgba(251, 241, 199, 0.1);
  --color-btn-primary-selected-bg: #fe8019;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(251, 241, 199, 0.5);
  --color-btn-primary-disabled-bg: rgba(254, 128, 25, 0.6);
  --color-btn-primary-disabled-border: rgba(251, 241, 199, 0.1);
  --color-action-list-item-default-hover-bg: rgba(189, 174, 147, 0.12);
  --color-segmented-control-bg: rgba(102, 92, 84, 0.1);
  --color-segmented-control-button-bg: #1d2021;
  --color-segmented-control-button-selected-border: #665c54;
  --color-fg-default: #fbf1c7;
  --color-fg-muted: #a89984;
  --color-fg-subtle: #928374;
  --color-canvas-default: #1d2021;
  --color-canvas-overlay: #1d2021;
  --color-canvas-inset: #1d2021;
  --color-canvas-subtle: #282828;
  --color-border-default: #504945;
  --color-border-muted: #3c3836;
  --color-neutral-muted: rgba(189, 174, 147, 0.4);
  --color-accent-fg: #fe8019;
  --color-accent-emphasis: #d65d0e;
  --color-accent-muted: rgba(254, 128, 25, 0.4);
  --color-accent-subtle: rgba(254, 128, 25, 0.1);
  --color-success-fg: #b8bb26;
  --color-attention-fg: #fabd2f;
  --color-attention-muted: rgba(250, 189, 47, 0.4);
  --color-attention-subtle: rgba(250, 189, 47, 0.15);
  --color-danger-fg: #fb4934;
  --color-danger-muted: rgba(251, 73, 52, 0.4);
  --color-danger-subtle: rgba(251, 73, 52, 0.1);
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: #3c3836;
  --color-scale-blue-8: #076678;
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-dark.gif");
}
