/*! Giscus Theme: Gruvbox Soft Light */

main {
  --color-prettylights-syntax-comment: #928374;
  --color-prettylights-syntax-constant: #8f3f71;
  --color-prettylights-syntax-entity: #427b58;
  --color-prettylights-syntax-storage-modifier-import: #504945;
  --color-prettylights-syntax-entity-tag: #79740e;
  --color-prettylights-syntax-keyword: #9d0006;
  --color-prettylights-syntax-string: #79740e;
  --color-prettylights-syntax-variable: #af3a03;
  --color-prettylights-syntax-brackethighlighter-unmatched: #9d0006;
  --color-prettylights-syntax-invalid-illegal-text: #504945;
  --color-prettylights-syntax-invalid-illegal-bg: #cc241d;
  --color-prettylights-syntax-carriage-return-text: #504945;
  --color-prettylights-syntax-carriage-return-bg: #9d0006;
  --color-prettylights-syntax-string-regexp: #79740e;
  --color-prettylights-syntax-markup-list: #b57614;
  --color-prettylights-syntax-markup-heading: #076678;
  --color-prettylights-syntax-markup-italic: #504945;
  --color-prettylights-syntax-markup-bold: #504945;
  --color-prettylights-syntax-markup-deleted-text: #9d0006;
  --color-prettylights-syntax-markup-deleted-bg: #f9d8d6;
  --color-prettylights-syntax-markup-inserted-text: #79740e;
  --color-prettylights-syntax-markup-inserted-bg: #e5ecd0;
  --color-prettylights-syntax-markup-changed-text: #af3a03;
  --color-prettylights-syntax-markup-changed-bg: #fce5c4;
  --color-prettylights-syntax-markup-ignored-text: #504945;
  --color-prettylights-syntax-markup-ignored-bg: #458588;
  --color-prettylights-syntax-meta-diff-range: #8f3f71;
  --color-prettylights-syntax-brackethighlighter-angle: #928374;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #a89984;
  --color-prettylights-syntax-constant-other-reference-link: #076678;
  --color-btn-text: #665c54;
  --color-btn-bg: #d5c4a1;
  --color-btn-border: rgba(80, 73, 69, 0.1);
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #bdae93;
  --color-btn-hover-border: #a89984;
  --color-btn-active-bg: #bdae93;
  --color-btn-active-border: #a89984;
  --color-btn-selected-bg: #f2e5bc;
  --color-btn-primary-text: #f2e5bc;
  --color-btn-primary-bg: #af3a03;
  --color-btn-primary-border: rgba(80, 73, 69, 0.1);
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #9d0006;
  --color-btn-primary-hover-border: rgba(80, 73, 69, 0.1);
  --color-btn-primary-selected-bg: #af3a03;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(80, 73, 69, 0.5);
  --color-btn-primary-disabled-bg: rgba(175, 58, 3, 0.6);
  --color-btn-primary-disabled-border: rgba(80, 73, 69, 0.1);
  --color-action-list-item-default-hover-bg: rgba(168, 153, 132, 0.12);
  --color-segmented-control-bg: rgba(189, 174, 147, 0.1);
  --color-segmented-control-button-bg: #f2e5bc;
  --color-segmented-control-button-selected-border: #a89984;
  --color-fg-default: #504945;
  --color-fg-muted: #7c6f64;
  --color-fg-subtle: #928374;
  --color-canvas-default: #f2e5bc;
  --color-canvas-overlay: #f2e5bc;
  --color-canvas-inset: #f2e5bc;
  --color-canvas-subtle: #ebdbb2;
  --color-border-default: #bdae93;
  --color-border-muted: #d5c4a1;
  --color-neutral-muted: rgba(124, 111, 100, 0.4);
  --color-accent-fg: #af3a03;
  --color-accent-emphasis: #9d0006;
  --color-accent-muted: rgba(175, 58, 3, 0.4);
  --color-accent-subtle: rgba(175, 58, 3, 0.1);
  --color-success-fg: #79740e;
  --color-attention-fg: #b57614;
  --color-attention-muted: rgba(181, 118, 20, 0.4);
  --color-attention-subtle: rgba(181, 118, 20, 0.15);
  --color-danger-fg: #9d0006;
  --color-danger-muted: rgba(157, 0, 6, 0.4);
  --color-danger-subtle: rgba(157, 0, 6, 0.1);
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: #bdae93;
  --color-scale-blue-8: #c8dce5;
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}
